<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'onlinecourse:index' %}">Trang chủ Online Course</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-outline-danger" href="{% url 'onlinecourse:logout' %}">Đăng xuất</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'onlinecourse:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tên đăng nhập" name="username">
                            <input type="password" class="form-control" placeholder="Mật khẩu" name="psw">
                            <button class="btn btn-primary" type="submit">Đăng nhập</button>
                            <a class="btn btn-link" href="{% url 'onlinecourse:registration' %}">Đăng ký</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-primary">{{ course.name }}</h1>
        <p class="lead">{{ course.description }}</p>

        <form id="exam-form" action="{% url 'onlinecourse:submit' course.id %}" method="post">
            {% csrf_token %}
            
            {% for lesson in course.lesson_set.all %}
                <div class="card my-4 shadow-sm">
                    <div class="card-header bg-info text-white">
                        <h4 class="card-title">{{ lesson.title }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ lesson.content }}</p>